.Rproj.user
.Rhistory
.RData
.Ruserdata




.Rhistory
gap_filling/.DS_Store
.RData
.Rhistory
.RData
.Rproj.user/4068A2E9/pcs/files-pane.pper
.Rproj.user/4068A2E9/pcs/source-pane.pper
.Rproj.user/4068A2E9/pcs/windowlayoutstate.pper
gas_app/keyFile.json
