/***
WHOLE PAGE
***/

*, html, body{
    margin: 0;
    padding: 0;
    border: none;
}

body > .body-container{
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100vh;
}

/*
.body-container > .container-fluid{
    height: 100%;
}

.body-container > .container-fluid > .tab-content{
    height: 100%;
}
*/

.page{
    width: 100%;
    height: 100%;
}

.container-fluid > .container-fluid{
    padding: 0;
    margin: 0;
}

/***
HOME PAGE
***/

.home .page{
    width: 100%;
    height: 100%;
    font-family: Inter;
}

.home--img{
    flex:none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.home--title-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home--title{
    font-family: Inter;
    font-size: 100px;
    color: white;
    font-weight: 900;
    text-align: center;
    max-width: 1200px;
}

.home--info-container{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    font-size: 20px;
    right: 0;
    bottom: 0;
    color: black;
    font-weight: 600;
}

/***
UPLOAD
***/

.upload{
    height: calc(100vh - 90px);
    margin: 0;
    padding: 0;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upload-box-1{
    display: flex;
    margin: 0px 100px 0px 100px;
    background-color: #CFDDF1;
    gap: 30px;
    border-radius: 5px;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

.upload--box1-1{
    min-width: 150px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.upload--box1-1 div:nth-child(2){
    margin: 0;
    margin-top: 6px;
}

.upload--site-label, .upload--station-label{
    font-weight: bold;
}

.upload--box1-2 div:nth-child(2), .upload--box1-3 div:nth-child(2){
    margin-bottom: 7px;
}

.upload--box1-2, .upload--box1-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    gap: 10px;
}

.upload-box-2{
    min-height: 500px;
}

.upload-box-3{
    display: flex;
    background-color: #CFDDF1;
    margin: 0 30px 30px 30px;
    padding: 20px;
    border-radius: 5px;

}


/***
QAQC
***/


.qaqc .page{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.qaqc--main{
    padding-left: 15px;
    padding-right: 15px;
}

.qaqc--pick-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.qaqc--pick{
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1200px;
    padding: 20px;
    background-color: #F3F3F3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.qaqc--intro-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.qaqc--intro{
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1200px;
    padding: 20px;
    background-color: #F3F3F3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.qaqc--intro > #qaqcDateRange{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qaqc--type-container{
    position: relative;
    padding-bottom: 50px;
}

.qaqc--type-container > h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    max-width: 500px;
}

.qaqc--type-flag-container{
    position: absolute;
    background-color: #CFDDF1;
    border-radius: 5px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.qaqc--type-flag-container > h3{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 5px;
}

.qaqc--type-flag-container > .form-group{
    padding: 0;
    margin: 0;
}

.qaqc--type-flag-container > .flag-btn{
    background: linear-gradient(180deg, #9AC1F9 0%, #7BACF4 100%);
    max-height: 39px;
    border: none;
}

/**
QAQC: Summary
**/

.summary-container{
    position: relative;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Inter;
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 85px;
    padding-bottom: 51px;
}

.summary-sub-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.summary-sub-container > h1{
    font-weight: 900;
    font-size: 18px;
}

.summary-sub-container > p{
    font-weight: 400;
    font-size: 14px;
}

.summary-flag-container{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    top: 30px;
    justify-content: center;
}


/***
VIEW
***/

.view .page{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.view--main{
    padding-left: 15px;
    padding-right: 15px;
}


.view--pick-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.view--pick{
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1200px;
    padding: 20px;
    background-color: #F3F3F3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.view--intro-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.view--intro{
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1200px;
    padding: 20px;
    background-color: #F3F3F3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.view--intro > .form-group > #view_site-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.view--intro > #view_dateRange{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view--type-container{
    position: relative;
    padding-bottom: 50px;
}

.view--type-container > h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    max-width: 500px;
}