#upload_dt{
overflow-x: scroll;
}

body{
  font-family: 'Roboto', sans-serif;
  color: rgb(59, 59, 59);
  margin: 0;
  padding: 0;
}


/*
.navbar{
  position: absolute;
background-color: #012169;
display: flex;
justify-content: center;
align-items: center;
height: 100px
}
.navbar-default .navbar-nav > li > a {
color: white;
}


.navbar-brand > strong{
color: black;
}
*/











.container-fluid{
  background-color: rgb(234, 234, 234);
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.tabbable{
  margin-left: 70px;
}

.navbar-container{
  width: 80px;
  height: 100%;
  position: absolute;
  float: left;
  z-index: 2;
}


.block-thing{
  background-color: #012169;
  width: 15px;
  height: 100%;
  position: absolute;
  float: left;
  z-index: 20;
}

.nav-el{
  position: relative;
  width: 70px;
  height: 50px;
}

.nav-el-circle{
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #012169;
  z-index: 1;
  left: -20px;
  transition: 0.3s;
  border-radius: 500px;
}

.nav-el-circle:hover{
  width: 120px;
  background-color: #105687;
}

#open-nav-el{
  width: 120px;
  background-color: #2f75a8;
}